body
{
    left: 0;
    top: 0;
    width: 100vw;
    margin: 0;
    padding: 0;
	background-color : white;
	font-family: 'Roboto', sans-serif;
    text-align : justify;
}
::-webkit-scrollbar
{
    width: 0;
}

header
{
    display: table;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    margin: 0;
    padding-top : 1vh;
    padding-bottom : 1vh;
	background-color : red;
    box-shadow: 0px 5px 5px 0px gray;
}

header nav
{
    display: table-cell;
    vertical-align: middle;
}

header nav ul
{
    float: right;
    margin-right: 15vw;
    list-style: none;
}

header nav ul li
{
    display: inline;
}

.navLink
{
    padding-bottom: 2vh;
    font-size : 1.5em;
    text-decoration : none;
    color : white;
    transition : 0.25s ease-in-out;
}

.navLink:hover
{
    padding-bottom: 1vh;
    box-shadow: 0px 2px 0px 0px white;
    text-shadow: 0px 0px 5px white;
    cursor:pointer;
}

.navSeparator
{
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    color : white;
    font-size : 1.5em;
    font-weight: bolder;
    cursor: default;
}

.logo
{
    float: left;
    margin-left: 15vw;
}

.logo:hover
{
    cursor: pointer;
}

.logo img
{
    max-height: 7vh;
    width: auto;
}

.anchor
{
    height: 9vh;
}

section
{
    display: inline-block;
    width : 70vw;
    margin-left: 15vw;
    margin-bottom: 66vh;
}

h1
{
    font-size: 2em;
    color : red;
}

address
{
    display: inline;
    float: left;
    margin-right: 5vw;
    font-style: normal;
}

#gallery
{
    display: inline-block;
    background-color: #ecf0f1;
}

.galleryFrame
{
    display: inline;
    float: left;
    width: 16.79vw;
    margin: 0.3vw;
    border: solid 1px gray;
    transition : 0.25s ease-in-out;
    background-color: white;
}

.galleryImage
{
    width: 100%;
    height: 25vh;
}

.galleryDescription
{
    padding: 0.5vw;
    text-align: center;
}

.nonGalleryFrame
{
    display: inline-block;
    width: 100%;
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: #ecf0f1;
    transition : 0.25s ease-in-out;
}

.nonGalleryBorder
{
    display: inline-block;
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: solid 1px gray;
    background-color: white;
}

.nonGalleryImage
{
    width: 100%;
    height: auto;
}

.nonGalleryDescription
{
    padding: 0.5vw;
    text-align: center;
    font-size: 0.7em;
}

section ul
{
    margin-left: 1vw;
    padding-left: 0;
}

section ul li
{
    margin-bottom: 0.5vw;
}

#localisationLink
{
    color: red;
}
